/* line 1, ../sass/module/_nav.scss */
.md--navbar {
  background-color: #683084;
  border-color: #683084;
  border-radius: 0px;
  color: white;
}

/* line 7, ../sass/module/_nav.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  transition: 0.3s;
}

/* line 11, ../sass/module/_nav.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #AAAAAA;
}

/* line 14, ../sass/module/_nav.scss */
.navbar-header {
  margin: 3px;
  padding-right: 10px;
}

/* line 19, ../sass/module/_nav.scss */
.md--form {
  width: 550px !important;
}

/* line 23, ../sass/module/_nav.scss */
.md--fa {
  font-size: 1.7em;
}

/* line 27, ../sass/module/_nav.scss */
.baby {
  width: 50px;
}

/* line 31, ../sass/module/_nav.scss */
img {
  vertical-align: top;
  color: white;
}

/* line 36, ../sass/module/_nav.scss */
.dropdown-menu > li > a:hover {
  border-left: 5px solid #f46600;
  transition: 0.3s;
}

/* line 1, ../sass/module/_slider.scss */
.carousel {
  height: 388px;
  border: 1px solid #cccccc;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  /* line 8, ../sass/module/_slider.scss */
  .carousel {
    height: auto;
    border: 1px solid #cccccc;
    overflow: hidden;
    background-color: red;
  }
}
@media only screen and (max-width: 600px) {
  /* line 17, ../sass/module/_slider.scss */
  .carousel {
    height: auto;
    border: 1px solid #cccccc;
    overflow: hidden;
    background-color: red;
  }
}
/* line 2, ../sass/module/_hotdeal.scss */
.hotdeal--image {
  background-color: #cccccc;
  max-width: 100%;
  height: 333px;
  border: 1px solid #cccccc;
}
/* line 8, ../sass/module/_hotdeal.scss */
.hotdeal--heading {
  font-weight: bold;
  color: #640000;
}

@media only screen and (max-width: 500px) {
  /* line 16, ../sass/module/_hotdeal.scss */
  .hotdeal--image {
    background-color: #cccccc;
    max-width: 100%;
    height: auto;
    border: 1px solid #cccccc;
  }
  /* line 22, ../sass/module/_hotdeal.scss */
  .hotdeal--heading {
    font-weight: bold;
    color: #640000;
  }
}
@media only screen and (max-width: 600px) {
  /* line 31, ../sass/module/_hotdeal.scss */
  .hotdeal--image {
    background-color: #cccccc;
    width: 100%;
    height: auto;
    border: 1px solid #cccccc;
  }
  /* line 37, ../sass/module/_hotdeal.scss */
  .hotdeal--heading {
    font-weight: bold;
    color: #640000;
  }
}
