.mainItems{
  //background: $gray;
  width: 820px;
  height: 325px auto;
  margin-bottom: 20px;
  margin-top: -5px;
}

.pagination--items{
  margin: 0px auto;
}

.itembox {
  width: 23%;
  background-color: #fff;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
  border: $border;
  float: left;
  img {
    height: 130px;
    width: 100%;
    border: $border;
  }
}

@media (max-width: 1400px) {
  .itembox {
    width: 23%;
    background-color: #fff;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    border: $border;
    float: left;
    img {
      height: 130px;
      width: 100%;
      border: $border;
    }
  }
}


@media (max-width: 768px) {
  .itembox {
    width: 20.5%;
    background-color: #fff;
    padding: 15px;
    margin: 5px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    border: $border;
    float: left;
    img {
      height: 130px;
      width: 100%;
      border: $border;
    }
  }
}

@media (max-width: 375px) {
  .mainItems{
    width: 200px;
  }
  .itembox {
    width: 100%;
    float: left;
    img {
      height: 130px;
      width: 100%;
      border: $border;
    }
  }
}