.md--navbar{
	background-color: #683084;
	border-color: #683084;
	border-radius: 0px;
	color: white;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
	transition: 0.3s;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #AAAAAA;
}
.navbar-header{
	margin: 3px;
	padding-right: 10px;
}

.md--form{
	width: 550px !important; 
}

.md--fa{
	font-size: 1.7em;
}

.baby {
  width: 50px; 
}

img {
  vertical-align: top;
  color: white;
}

.dropdown-menu>li>a:hover{
	border-left: 5px solid $orange;
	transition: 0.3s;
}