.productbox {
  background-color:#ffffff;
	padding:15px;
	margin-bottom:10px;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
	img{
		height: 130px;
	}
}

.producttitle {
  font-weight:bold;
	padding:5px 0 5px 0;
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}

@media (max-width: 500px) {
	.productbox{
		img{
			height: 250px;
			width: 100%;
		}
	}
}

.btn{
	transition: 0.5s;
	background: $orange;
	color: white;
	&:hover{
		color: white;
	}
}