.product {
  margin: 20px;
}


.share_btn-twitter {
  background-color: #31a7df;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
}

.share_btn-twitter:hover {
  background: #fff;
  color: #31a7df;
}

.share_btn-facebook {
  background-color: #445fa2;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
}

.share_btn-facebook:hover {
  background: #fff;
  color: #445fa2;
}

.share_btn-googleplus {
  background-color: #e45034;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
}

.share_btn-googleplus:hover {
  background: #fff;
  color: #e45034;
}

.share-to-friend {
  padding-top: 10px;
}

.quantity_buy {
  background: #f6f6f6;
  padding: 15px;
}

.increase-btn,
.decrease-btn {
  margin-top: 8px;
}

.cart-btn,
.buy-btn {
  background: #3f145b;
  color: #fff;
  border-radius: 10px;
}

.order-on-phone {
  background: #f6f6f6;
  padding: 15px;
}

.order-on-phone h3 {
  color: #45b549;
}

.order-on-phone p {
  text-align: justify;
}